/* 노트북 */
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  /* mainvisual */
  .visual {
    height: 87vh;
  }
  .back_shape {
    top: -87vh;
  }
  .shape_1 {
    top: -19vh;
  }
  /* 컨텐츠 영역 */
  .container {
    padding: 0 40px;
  }
  .container:last-child {
    padding: 0;
  }
  /* 블러배너 */
  .blur_banner {
    width: 100%;
    padding: 70px 110px;
  }
  /* 컨텐츠 섹션 공통영역 */
  .con {
    width: 100%;
  }
  /* 네번째 */
  .sticky_sec .text_box h2 {
    font-size: 60px;
  }
  /* 다섯번째 */
  .white_bg .con {
    box-sizing: border-box;
    padding: 0px 40px;
    gap: 100px;
  }
  /* footer */
  footer .con {
    box-sizing: border-box;
    padding: 0px 40px;
  }
}

/* 노트북 medium*/
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  /* mainvisual */
  .visual {
    height: 85vh;
  }
  .visual_title {
    width: 90vw;
  }
  .visual_title .v_title3 {
    bottom: 13vw;
  }
  .back_shape {
    top: -85vh;
  }
  .back_shape > div:not(.shape_1, .shape_18) {
    width: 27vw;
  }
  .shape_1 {
    top: -7vh;
    left: 24vw;
  }
  .shape_2 {
    top: -12vh;
    right: 0vw;
  }
  .shape_3 {
    display: none;
  }
  .shape_4 {
    bottom: 12vh;
    right: -15vw;
  }
  .shape_5 {
    top: -12vh;
    left: 19vw;
  }
  .shape_7 {
    top: 31vh;
    left: 11vw;
  }
  .shape_8 {
    right: -13vw;
  }
  .shape_10 {
    bottom: -17vh;
  }
  .shape_12 {
    left: -11vw;
  }
  .back_shape > div.shape_13,
  .back_shape > div.shape_14,
  .back_shape > div.shape_15,
  .back_shape > div.shape_16,
  .back_shape > div.shape_17 {
    display: none;
  }
  /* 컨텐츠 영역 */
  .container {
    padding: 0 60px;
  }
  .container:last-child {
    padding: 0;
  }
  /* 블러배너 */
  .blur_banner {
    width: 100%;
    padding: 80px;
    gap: 50px;
    top: -120px;
  }
  /* 컨텐츠 섹션 공통영역 */
  .con {
    width: 100%;
  }
  /* 두번째 */
  .floating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    gap: 10vh;
  }
  .floating .floating_text {
    flex: 1;
    flex-direction: column;
    gap: 5vh;
    font-size: 5vw;
    text-align: left;
    order: -1;
  }
  .floating .floating_text h2 {
    width: 100%;
    height: 100px;
  }
  .floating .floating_text h2:first-child:hover span,
  .floating .floating_text h2:nth-child(2):hover span,
  .floating .floating_text h2:nth-child(3):hover span {
    left: 0;
  }
  @keyframes textUp {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
  }
  .floating .rotate_shape {
    order: 0;
    width: 250px;
    height: 250px;
    flex: 0 0 auto;
  }
  /* 세번째 */
  .motion_con .box .img_box {
    height: 365px;
  }
  /* 네번째 섹션 */
  .sticky_sec {
    gap: 40px;
  }
  .sticky_sec .videos > div {
    width: 100%;
    height: 200px;
  }
  /* 다섯번째 */
  .white_bg .con {
    box-sizing: border-box;
    padding: 0px 60px;
    gap: 100px;
  }
  /* footer */
  footer .con {
    box-sizing: border-box;
    padding: 0px 60px;
  }
}

/* 태블릿 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* mainvisual */
  .visual {
    height: 85vh;
  }
  .visual_title {
    font-size: 10vw;
    width: 90vw;
    top: 200px;
    text-align: center;
  }
  .visual_title .v_title1 {
    position: static;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .visual_title .v_title2 {
    position: static;
    margin-top: 0;
    height: fit-content;
    margin-bottom: 20px;
  }
  .visual_title .v_title3 {
    position: static;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .back_shape {
    top: -85vh;
  }
  .back_shape
    > div:not(
      .shape_1,
      .shape_13,
      .shape_14,
      .shape_15,
      .shape_16,
      .shape_17,
      .shape_18
    ) {
    display: none;
  }
  .shape_1 {
    width: 100vw;
    top: -10vh;
    left: 5vw;
  }
  .shape_13 {
    left: 90vw;
  }
  .shape_14 {
    top: 9vh;
    left: 33vw;
  }
  .shape_15 {
    top: 23px;
    left: 25px;
  }
  .back_shape > div.shape_15 {
    width: 40px;
  }
  .back_shape > div.shape_18 {
    width: 50%;
  }
  /* 컨텐츠 영역 */
  .container {
    padding: 0 40px;
  }
  /* 블러배너 */
  .blur_banner {
    width: 100%;
    padding: 50px 80px;
    box-sizing: border-box;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 50px;
  }
  .con {
    width: 100%;
  }
  /* 두번째 */
  .floating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 10vh;
  }
  .floating .floating_text {
    flex: 1;
    flex-direction: column;
    gap: 5vh;
    font-size: 8vw;
    text-align: left;
    order: -1;
  }
  .floating .floating_text h2 {
    width: 100%;
    height: 100px;
  }
  .floating .floating_text h2:first-child:hover span,
  .floating .floating_text h2:nth-child(2):hover span,
  .floating .floating_text h2:nth-child(3):hover span {
    left: 0;
  }
  @keyframes textUp {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
  }
  .floating .rotate_shape {
    order: 0;
    width: 250px;
    height: 250px;
    flex: 0 0 auto;
    margin: 0 auto;
  }
  /* 세번째 */
  .motion_con {
    flex-direction: column;
  }
  .motion_con .box {
    height: 750px;
  }
  .motion_con .box .img_box {
    height: 220px;
  }
  .motion_con .box .img_box > img {
    width: fit-content;
    height: 100%;
  }
  .motion_con .box .text_box {
    height: 170px;
  }
  /* 네번째 */
  .sticky_sec {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sticky_sec .videos > div {
    width: 92vw;
    margin-bottom: 300px;
  }
  /* 다섯번째 */
  .white_bg {
    padding: 40px;
    padding-bottom: 100px;
  }
  .white_bg .con {
    display: block;
  }
  .white_bg .left_img {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
  }
  .right_box {
    margin-bottom: 40px;
  }
  /* footer */
  footer .con {
    box-sizing: border-box;
    padding: 0px 40px;
  }
}
/* 모바일 large */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* header */
  h1 {
    font-size: 23px;
  }
  /* mainvisual */
  .visual {
    height: 85vh;
  }
  .visual_title {
    font-size: 16vw;
    width: 90vw;
    top: 150px;
    text-align: center;
  }
  .visual_title .v_title1 {
    position: static;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .visual_title .v_title2 {
    position: static;
    margin-top: 0;
    height: fit-content;
    margin-bottom: 20px;
  }
  .visual_title .v_title3 {
    position: static;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .back_shape {
    top: -85vh;
  }
  .back_shape
    > div:not(
      .shape_1,
      .shape_13,
      .shape_14,
      .shape_15,
      .shape_16,
      .shape_17,
      .shape_18
    ) {
    display: none;
  }
  .shape_1 {
    width: 200vw;
    top: -10vh;
    left: -35vw;
  }
  .shape_13 {
    top: 40vh;
    left: 90vw;
  }
  .shape_14 {
    top: 9vh;
    left: 33vw;
  }
  .shape_15 {
    top: 23px;
    left: 25px;
  }
  .back_shape > div.shape_15 {
    width: 40px;
  }
  .back_shape > div.shape_18 {
    width: 90%;
  }
  /* 컨텐츠 영역 */
  .container {
    padding: 0 40px;
  }
  /* 블러배너 */
  .blur_banner {
    width: 100%;
    padding: 50px 80px;
    box-sizing: border-box;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 50px;
  }
  .blur_banner h2 {
    font-size: 10vw;
  }
  .con {
    width: 100%;
  }
  /* 두번째 */
  .floating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 10vh;
  }
  .floating .floating_text {
    flex: 1;
    flex-direction: column;
    gap: 5vh;
    font-size: 10vw;
    text-align: left;
    order: -1;
  }
  .floating .floating_text h2 {
    width: 100%;
    height: 75px;
  }
  .floating .floating_text h2:first-child:hover span,
  .floating .floating_text h2:nth-child(2):hover span,
  .floating .floating_text h2:nth-child(3):hover span {
    left: 0;
  }
  @keyframes textUp {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
  }
  .floating .rotate_shape {
    order: -2;
    width: 250px;
    height: 250px;
    flex: 0 0 auto;
    margin: 0 auto;
  }
  /* 세번째 */
  .motion_con {
    flex-direction: column;
  }
  .motion_con .box {
    height: 750px;
  }
  .motion_con .box .img_box {
    height: 220px;
  }
  .motion_con .box .img_box > img {
    width: fit-content;
    height: 100%;
  }
  .motion_con .box .text_box {
    height: 250px;
  }
  /* 네번째 */
  .sticky_sec {
    position: static;
    display: block;
  }
  .sticky_sec .text_box {
    text-align: center;
  }
  .sticky_sec .videos > div {
    width: 100%;
    margin-bottom: 150px;
    background-color: azure;
    height: 300px;
  }
  .sticky_sec .videos > div > video {
    transform: scale(2) translateY(0);
  }
  .sticky_sec .videos > div:hover > video {
    transform: scale(2.1) translateY(0);
  }
  /* 다섯번째 */
  .white_bg {
    padding: 40px;
    padding-bottom: 100px;
  }
  .white_bg .con {
    display: block;
  }
  .white_bg .left_img {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
  }
  .right_box {
    margin-bottom: 40px;
  }
  /* 여섯번째 */
  .member_silde {
    height: fit-content;
  }
  .member_list {
    width: 100%;
    display: block;
    animation-name: stop;
    position: static;
  }
  .member_list.list2 {
    display: none;
  }
  .member_list > .list {
    width: 100%;
    height: fit-content;
    margin-bottom: 40px;
    display: block;
    text-align: center;
    padding: 40px 30px;
    transition: 0.5s;
  }
  .member_list > .list:hover {
    padding: 60px 30px;
  }
  .list > .thumbs {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .list > .thumbs > img {
    width: 100%;
  }
  /* footer */
  footer .con {
    box-sizing: border-box;
    padding: 0px 40px;
    flex-direction: column;
    gap: 20px;
  }
}
/* 모바일 */
@media screen and (max-width: 480px) {
  /* header */
  h1 {
    font-size: 23px;
  }
  .submenu {
    width: 400px;
    font-size: 25px;
    line-height: 60px;
  }
  .submenu > li:first-child {
    padding-top: 15px;
  }
  .submenu > li:last-child {
    padding-bottom: 15px;
  }
  nav > ul > li:hover > .submenu {
    height: 215px;
  }
  /* mainvisual */
  .visual {
    height: 85vh;
  }
  .visual_title {
    font-size: 16vw;
    width: 90vw;
    top: 150px;
    text-align: center;
  }
  .visual_title .v_title1 {
    position: static;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .visual_title .v_title2 {
    position: static;
    margin-top: 0;
    height: fit-content;
    margin-bottom: 20px;
  }
  .visual_title .v_title3 {
    position: static;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .back_shape {
    top: -85vh;
  }
  .back_shape
    > div:not(
      .shape_1,
      .shape_13,
      .shape_14,
      .shape_15,
      .shape_16,
      .shape_17,
      .shape_18
    ) {
    display: none;
  }
  .shape_1 {
    width: 200vw;
    top: -10vh;
    left: -35vw;
  }
  .shape_13 {
    top: 40vh;
    left: 90vw;
  }
  .shape_14 {
    top: 9vh;
    left: 33vw;
  }
  .shape_15 {
    top: 23px;
    left: 25px;
  }
  .back_shape > div.shape_15 {
    width: 40px;
  }
  .back_shape > div.shape_18 {
    width: 90%;
  }
  /* 컨텐츠 영역 */
  .container {
    padding: 0 40px;
  }
  /* 블러배너 */
  .blur_banner {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 50px;
  }
  .blur_banner h2 {
    font-size: 10vw;
  }
  .con {
    width: 100%;
  }
  /* 두번째 */
  .floating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 10vh;
  }
  .floating .floating_text {
    flex: 1;
    flex-direction: column;
    gap: 5vh;
    font-size: 10vw;
    text-align: left;
    order: -1;
  }
  .floating .floating_text h2 {
    width: 100%;
    height: 75px;
  }
  .floating .floating_text h2:first-child:hover span,
  .floating .floating_text h2:nth-child(2):hover span,
  .floating .floating_text h2:nth-child(3):hover span {
    left: 0;
  }
  @keyframes textUp {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
  }
  .floating .rotate_shape {
    order: -2;
    width: 250px;
    height: 250px;
    flex: 0 0 auto;
    margin: 0 auto;
  }
  /* 세번째 */
  .motion_con {
    flex-direction: column;
  }
  .motion_con .box {
    height: 750px;
  }
  .motion_con .box .img_box {
    height: 220px;
  }
  .motion_con .box .img_box > img {
    width: fit-content;
    height: 100%;
  }
  .motion_con .box .text_box {
    height: 250px;
  }

  /* 네번째 */
  .sticky_sec {
    position: static;
    display: block;
  }
  .sticky_sec .text_box {
    text-align: center;
  }
  .sticky_sec .videos > div {
    width: 100%;
    margin-bottom: 150px;
    background-color: azure;
    height: 300px;
  }
  .sticky_sec .videos > div > video {
    transform: scale(2) translateY(0);
  }
  .sticky_sec .videos > div:hover > video {
    transform: scale(2.1) translateY(0);
  }
  /* 다섯번째 */
  .white_bg {
    padding: 40px;
    padding-bottom: 100px;
  }
  .white_bg .con {
    display: block;
  }
  .white_bg .left_img {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
  }
  .right_box {
    margin-bottom: 40px;
  }
  .right_box .thumbs {
    flex-direction: column;
    gap: 50px;
  }
  .thumbs h4 {
    font-size: 25px;
  }
  .thumbs a {
    width: 100%;
  }
  /* 여섯번째 */
  .member_silde {
    height: fit-content;
  }
  .member_list {
    width: 100%;
    display: block;
    animation-name: stop;
    position: static;
  }
  .member_list.list2 {
    display: none;
  }
  .member_list > .list {
    width: 100%;
    height: fit-content;
    margin-bottom: 40px;
    display: block;
    text-align: center;
    padding: 40px 30px;
    transition: 0.5s;
  }
  .member_list > .list:hover {
    padding: 60px 30px;
  }
  .list > .thumbs {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .list > .thumbs > img {
    width: 100%;
  }
  /* footer */
  footer .con {
    box-sizing: border-box;
    padding: 0px 40px;
    flex-direction: column;
    gap: 20px;
  }
}
